/*
 * Import all top level partials here
 */
@import 'base/fonts';
@import 'base/scaffolding';

@import 'normalize';

$primery-color: #999999;
$secondary-color: #ffffff;
$third-color: #333333;
$nav-hover-primery-color: #fce38a;
$title-decoration-color: #f38181;
$services-icon-color: #95e1d3;
$bg-team-color: #95e1d3;
$team-icon-gradient: linear-gradient(360deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
$socials-bg-color: #fce38a;
$socials-bg-hover-color: #f38181;
$socials__icon-color:  #f38181;
$socials__icon-stroke-color:  #333333;
$socials__icon-hover-color:  #ffffff;
$footer-primery-color: #e5e5e5;
$footer-secondary-color: #f6a1a1;

$primery-font: 'Montserrat', 'sans-serif';
$secondary-font: 'Roboto', 'sans-serif';
$third-font: 'Kaushan Script', 'sans-serif';

@mixin typography($font, $size, $height, $weight, $color) {
    font-family: $font;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color: $color;
}

@mixin bg-image($path, $position, $size, $repeat) {
    background-image: url($path);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}

@mixin text-decoration($text-transform, $text-decoration) {
    text-transform: $text-transform;
    text-decoration: $text-decoration;
}

@mixin transition($property, $duration, $timing) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing; 
}

body {
    @include typography($secondary-font, 15px, 1.2, 400, $primery-color);
}

.wrapper {
    margin: 0px auto;
    position: relative;
}

.header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.container {
    width: 1201px;
    margin: 0px auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 37px;
    margin: 0px auto;
}

.logo {
    text-decoration: none;
    @include typography($primery-font, 30px, 36px, 700, $secondary-color);
}

.nav {
    display: flex;
}

.nav-menu {
    display: flex;
    margin: 0px;
    margin-right: 53px;
    padding: 0px;
}

.nav-menu__item {
    list-style: none;
}

.nav-menu__item:not(:nth-child(5n)) {
    margin-right: 53px;
}

.nav-menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include transition(color, 200ms, linear)
    @include typography($primery-font, 14px, 17px, 500, $secondary-color);
    @include text-decoration(uppercase, none);

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        transition-property: transform, background-color;
        transition-duration: 200ms;
    }

    &:hover {
        color: $nav-hover-primery-color;

        &::after {
            display: block;
            background-color: $nav-hover-primery-color;
            transform: translateY(10px);
        }
    }
}

.option-form__icon {
    fill: $secondary-color;

    &:hover {
        fill: $nav-hover-primery-color;
    }
}

.buy {
    margin-right: 41px;
}

.section-performance {
    @include bg-image('../images/picturex1-min.jpg', center, cover, no-repeat);
    margin-bottom: 54px;
}

@media (min-resolution: 192px), (min-resolution: 2dppx) {
    .section-performance {
        background-image: url(../images/picture@2x-min.jpg);
    }
}

.section-performance__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
    background: $team-icon-gradient;
    padding-top: 210px;
    margin: 0px auto;
    opacity: 0.9;
}

.header-text {
    @include typography($third-font, 72px, 86px, 400, $secondary-color);
}

.section-performance__text {
    margin-bottom: 40px;
}

.header-title {
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    @include typography($primery-font, 150px, 140px, 700, $secondary-color);
}

.section-performance__title {
    max-width: 980px;
    margin-bottom: 110px;
}

.section-performance__btn {
    margin-bottom: 230px;
}

.section-btn {
    background-color: transparent;
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    @include typography($primery-font, 14px, 17px, 700, $secondary-color);
    cursor: pointer;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1182px;
    margin: 0px auto;
    margin-bottom: 96px;
}

.section-text {
    margin: 0px;
    @include typography($third-font, 24px, 29px, 400, $third-color);
}

.services__text {
    margin-bottom: 15px;
}

.section-title {
    margin: 0px;
    text-transform: uppercase;
    @include typography($primery-font, 30px, 36px, 700, $third-color); 
    
    &::after {
        display: block;
        content: '';
        width: 60px;
        height: 3px;
        background-color: $title-decoration-color;
        margin: auto;
        margin-top: 40px;
    }
}

.services__title::after {
    margin-bottom: 65px;
}

.services-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

.services-menu__item {
    display: flex;
    width: 381px;
    margin-bottom: 0px;
}

.services-menu__item:nth-child(-n + 3) {
    margin-bottom: 98px;
}

.services-menu__icon {
    fill: $services-icon-color;
    padding: 0px 25px;
}

.services-menu__name {
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 16px;
    @include typography($primery-font, 14px, 17px, 500, $third-color);
}

.services-menu__info {
    margin: 0px;
}

.section-team-mb {
    margin-bottom: 80px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__text {
    margin-bottom: 15px;
}

.team__title::after {
    margin-bottom: 48px;
}

.team__info {
    margin: 0px auto;
    margin-bottom: 118px;
    max-width: 980px;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px auto;
}

.team-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.team-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.team-list__box {
    display: flex;
    background-color: $services-icon-color;
    margin-bottom: 30px;

    &:hover .team-cart {
        transform: translate(-10px, -10px);
    }

    &:hover .wrap-socials {
        transform: translate(-10px, -10px);
        opacity: 100%;
    }
}

.team-cart {
    display: flex;
    @include transition(transform, 200ms, linear);
}



.wrap-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 380px;
    height: 470px;
    opacity: 0%;
    @include transition('transform,opacity', 200ms, linear);
    background: $team-icon-gradient;
}

.wrap-socials__massengers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: none;
    width: 56px;
    height: 56px;
    background-color: $socials-bg-color;
    cursor: pointer;
    @include transition(background-color, 200ms, linear);

    &:hover {
        background-color: $socials-bg-hover-color;
    }
}

.wrap-socials__massengers:not(:nth-child(4n)) {
    margin-right: 1px;
}

.wrap-socials__icon {
    fill: $socials__icon-color;
}

.wrap-socials__massengers:hover .wrap-socials__icon {
    fill: $socials__icon-hover-color;
    stroke: $socials__icon-stroke-color;
}

.team-list__name {
    color: #333333;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 13px;
}

.team-list__position {
    font-weight: 300;
    font-style: italic;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    margin-bottom: 13px;
}

.footer::before {
    display: flex;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: auto;
    margin-bottom: 26px;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-box__creater {
    color: #f6a1a1;
    text-decoration: none;
}

.form {
    display: flex;
    justify-content: end;
}

.form__search {
    font-weight: 300;
    font-style: italic;
    color: #333333;
    border-color: #e5e5e5;
    border-style: solid;
    border-right: none;
    outline: none;
}

.form__button {
    border: none;
    width: 150px;
    height: 40px;
    padding: 0px;
    background-color: #95e1d3;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
