// COLOR MAP
$text-primery-color: #999999;
$text-secondary-color: #ffffff;
$text-third-color: #333333;
$nav-hover-primery-color: #fce38a;
$fon-gradient: linear-gradient(360deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
$button-border-color:#ffffff;
$title-decoration-color: #f38181;
$services-icon-color: #95e1d3;
$bg-team-color: #95e1d3;
$team-icon-gradient: linear-gradient(360deg,rgba(252, 227, 138, 0.9) 0%,rgba(243, 129, 129, 0.9) 100%);
$socials-bg-color: #fce38a;
$socials-bg-hover-color: #f38181;
$socials__icon-color: #f38181;
$socials__icon-stroke-color: #333333;
$socials__icon-hover-color: #ffffff;
$footer-decoration-color: #e5e5e5;
$footer-creater-name-color: #f6a1a1;
$footer-button-bg-color: #95e1d3;

// FONTS
$primery-font: 'Montserrat', 'sans-serif';
$secondary-font: 'Roboto', 'sans-serif';
$third-font: 'Kaushan Script', 'sans-serif';