.footer {
    margin: auto;
    margin-bottom: 13px;
    border-top: 1px solid $footer-decoration-color;
    @include typography($primery-font, 14px, 17px, 500, $text-third-color);
    // &::before {
    //     display: flex;
    //     content: '';
    //     width: 100%;
    //     height: 1px;
    //     background-color: $footer-decoration-color;
    //     margin: auto;
    //     margin-bottom: 26px;
    // }
}

.footer-container {
    padding-top: 10px;
    @include position-row(flex, space-between, center);
}

.footer-container__creater {
    color: $footer-creater-name-color;
    text-decoration: none;
}